# Data and processed outputs
data/raw/*
!data/raw/suicide_detection.csv
/data/processed/
/models/
/resources/

# Python env
venv/
__pycache__/
*.pyc

# IDE / system
.vscode/
*.ipynb_checkpoints
.DS_Store

# Streamlit runtime state
.streamlit/
